.container {
    background-color: rgb(231, 231, 231);
    height: 100vh;
    display: flex;
    justify-content: center;
}

.to-do-container {
    margin-top: 60px;
    position: absolute;
    width: 80%;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.search {
    width: auto;
    border: none;
    display: block;
    font-size: 25px;
    padding: 15px;
}

.space-between {
    height: 20px;
    background-color: rgb(231, 231, 231);
}